// Cores
$corBg: #f5f6fa;
$corHeader: #182C61;
$corBtnMain: #44bd32;
$corBtnHover: #4cd137;
$textoAlt: #fff;

// Colunas
$tresCol: 3, 32.66%;
$tresColGap: 1%;

$duasCol: 2, 48.5%;
$duasColGap: 3%;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;